{{!-- rooms.hbs --}}

<div id="contents">
  <div class="box">
    <div>
      <div class="body">
        <h1>Rooms</h1>
        <ul id="rooms">
          <li>
            <a href="/rooms"><img src="/images/first-class.jpg" alt="First Class Room"></a>
            <h2><a href="/rooms">First Class Room</a></h2>
            <p>
              Cras dui sapien, feugiat vitae tristique ut, lobortis tempor orci. Donec pulvinar sagittis metus ut tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            </p>
            <span class="rate">Rate: 220 / Day</span>
          </li>
          <li>
            <a href="/rooms"><img src="/images/deluxe.jpg" alt="Deluxe Room"></a>
            <h2><a href="/rooms">Deluxe Room</a></h2>
            <p>
              Sed et augue lorem. In sit amet placerat arcu. Mauris volutpat ipsum ac justo mollis vel vestibulum orci gravida. Vestibulum sit amet porttitor odio. Nulla facilisi.
            </p>
            <span class="rate">Rate: 150 / Day</span>
          </li>
          <li>
            <a href="/rooms"><img src="/images/suite.jpg" alt="Suite Room"></a>
            <h2><a href="/rooms">Suite Room</a></h2>
            <p>
              Sed et augue lorem. In sit amet placerat arcu. Mauris volutpat ipsum ac justo mollis vel vestibulum orci gravida. Vestibulum sit amet porttitor odio. Nulla facilisi.
            </p>
            <span class="rate">Rate: 180 / Day</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
